.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* 3 columns: logo | nav-links | buttons */
  align-items: center;
  padding: 15px 5%; 
  background: var(--secondary-color);
  height: 60px; 
  position: relative;
  gap: 20px;
}

.navbar .gradient-btn {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 20px;
  width: 70px; 
  text-align: center;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Logo stays on left */
}

.nav-left img {
  max-height: 40px;
  width: auto;
  padding-left: 80px;
  padding-top: 10px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center; /* Center column centered */
}

.nav-center .nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  list-style: none;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 50px; 
  border: 1px solid var(--primary-color);
  padding: 15px 150px;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-right {
  display: flex;
  gap: 15px;
  justify-content: flex-end; /* Buttons stay on right */
}

.mobile-auth-buttons {
  display: none;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  width: 100%;
  align-items: center;
}

.nav-right .gradient-btn{
  font-size: 16px;
}

.hamburger {
  display: none;
  color: var(--primary-color);
  cursor: pointer;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 1000;
}



@media (max-width: 1400px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .nav-center {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%; 
    height: 100%;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }

  .nav-center.active {
    right: 0;
  }

  .nav-center .nav-links {
    flex-direction: column;
    height: auto;
    gap: 20px;
    list-style: none;
    padding: 20px;
    margin: 0;
    border: none;
  }

  .nav-links li a {
    font-size: 18px;
    display: block;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-right {
    display: none; 
  }

  .mobile-auth-buttons {
    display: flex;
  }

  .mobile-auth-buttons .gradient-btn {
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 50px;
    text-align: center;
  }
}