.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('assets/bg.png'); */
  /* background-size: cover;
  background-position: center; */
}

.auth-box {
  background: rgba(0, 0, 0, 0.65);
  padding: 35px;
  width: 350px;
  border-radius: 18px;
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form .input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #666;
  background: rgba(0,0,0,0.4);
  color: white;
}

.btn {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: rgb(255, 136, 0);
}

.or {
  margin: 15px 0;
  text-align: center;
  opacity: 0.8;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn {
  background: white;
  color: black;
  padding: 10px 14px;
  border-radius: 50%;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.footer-text {
  text-align: center;
  margin-top: 18px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 12px;
  opacity: 0.8;
}

.footer-links a {
  color: white;
  text-decoration: none;
}
